<a href="https://colab.research.google.com/github/gabrielalastra/PYTHON/blob/master/analysis_cleaning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
matrix = pd.DataFrame({
    'Sex' : ['M', 'F', 'F', 'D', '?'],
    'Age' : [29, 12, 290, 33, 15]
})
matrix

  Sex  Age
0   M   29
1   F   12
2   F  290
3   D   33
4   ?   15

In [ ]:
matrix['Sex'].unique() #observar so a coluna sex

array(['M', 'F', 'D', '?'], dtype=object)

In [ ]:
#pode ser um jeito menor de ver se a matrix for mt grande
#como as opcoes validas sao poucas
matrix['Sex'].value_counts()

F    2
?    1
D    1
M    1
Name: Sex, dtype: int64

In [ ]:
#reparando posiveis erros, D Ã© proximo de F e M e N tbm sao proximos
matrix['Sex'].replace({'D':'F', 'N':'M'})

0    M
1    F
2    F
3    F
4    ?
Name: Sex, dtype: object

In [ ]:
#para analisar idades validas
#mostre as idades maiores que 100
matrix[matrix['Age'] > 100]

  Sex  Age
2   F  290

In [ ]:
#um erro comum em preenchimento de idades eh o zero no final
#divide a coluna por 10
matrix.loc[matrix['Age'] > 100, 'Age'] = matrix.loc[matrix['Age'] >100,  'Age']/10
matrix

  Sex   Age
0   M  29.0
1   F  12.0
2   F  29.0
3   D  33.0
4   ?  15.0

In [ ]:
matrix2 = matrix.loc[matrix['Age'] >100]/10
matrix2

Series([], Name: Age, dtype: float64)