<a href="https://colab.research.google.com/github/gabrielalastra/glastra/blob/master/analysis_panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#criando uma serie com a pop do G7
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.values
#sao organizados com o numpy

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [ ]:
#mudando o index de cada valor
g7_pop.index = [
                'Canada',
                'France',
                'Germany',
                'Italy',
                'Japan',
                'United Kingdom',
                'United States',
]
g7_pop

In [ ]:
#da pra criar a serie ja acoplada com index certo
g7 = pd.Series({
    'Canada' : 35.467,
    'France' : 63.951,
    'Germany' : 80.94,
    'Italy' : 60.665,
    'Japan' : 127.061,
    'United Kingdom' : 64.511,
    'United States' : 318.523
}, name='Populacao G7 em milhoes')

g7

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#assim tbm funciona
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

In [ ]:
g7.mean()

107.30257142857144

In [ ]:
g7[['Italy', 'France']]

Italy     60.665
France    63.951
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
g7.iloc[[0,1]]

Canada    35.467
France    63.951
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
g7 > 70 #70 milhoes

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Populacao G7 em milhoes, dtype: bool

In [ ]:
#exibir os paises >70milhoes
g7[g7 >70]

Germany           80.940
Japan            127.061
United States    318.523
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#exibir os paises acima da media
g7mean = g7[g7 > g7.mean()]
print( 'paises com pop > media \n', g7mean)
g7std = g7.std()
print ('\n desvio padrao', g7std)

paises com pop > media
 Japan            127.061
United States    318.523
Name: Populacao G7 em milhoes, dtype: float64

 desvio padrao 97.24996987121581

In [ ]:
~ not
| or
& and

In [ ]:
#visualizar em milhoes
g7 * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
np.log(g7)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#media da pop franca, alemanha e italia
g7['France':'Italy'].mean()

68.51866666666666

In [ ]:
#pop >80
g7 >80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Populacao G7 em milhoes, dtype: bool

In [ ]:
#pop > 80 ou < 40
g7[(g7 >80) | (g7 <40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#pop >80 e < 200
g7[(g7 >80) & (g7 <200)]

Germany     80.940
Japan      127.061
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#modificando 
g7[ 'Canada'] = 40.5

In [ ]:
g7

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Populacao G7 em milhoes, dtype: float64

In [ ]:
#tbm da pra mudar com numero
g7[-1] = 400

In [ ]:
g7[g7 <70]

Canada            40.500
France            63.951
Italy             60.665
United Kingdom    64.511
Name: Populacao G7 em milhoes, dtype: float64

DATAFRAME

---

In [ ]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [ ]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe      NaN
Germany             80.940   3874437        357114  0.916    Europe      NaN
Italy               60.665   2167744        301336  0.873    Europe      NaN
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df.columns #type = objeto ou seja, uma string

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
a = df.size
print('elementos da matrix', a)
b = df.shape
print(b)

elementos da matrix 35
(7, 5)

In [ ]:
#relacoes estatisticas basicas
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [ ]:
#para localizar uma linha
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
#para localizar com o numero 
df.iloc[-2]

Population       64.511
GDP             2950039
Surface Area     242495
HDI               0.907
Continent        Europe
Name: United Kingdom, dtype: object

In [ ]:
#para localizar coluna
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
#para ver no formato que fica o data frame, durante a operacao
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
#localizar a populacao da franca, alemanaha e italia
df.loc['France':'Italy', 'Population'].to_frame()

         Population
France       63.951
Germany      80.940
Italy        60.665

In [ ]:
#localizar a populacao e gdp da franca, alemanha e italia
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [ ]:
df.loc[df['Population'] >70] #70milhoes

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.loc[df['Population'] > 70, 'Population'] #escrevendo em 2 dimensoes

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df.loc[df['Population'] > 70, ['Population', 'HDI']]

               Population    HDI
Germany            80.940  0.916
Japan             127.061  0.891
United States     318.523  0.915

In [ ]:
#tirando linhas
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(columns=['GDP'])

In [ ]:
df.drop(['Population'], axis=1)
#outro jeito de deletar colunas eh indicar o axis=1 ou axis='columns'
#para indicar linhas
#df.drop(['Italy'], axis=0) ou axis='rows'

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[['Population', 'GDP']] /100

                Population        GDP
Canada             0.35467   17853.87
France             0.63951   28336.87
Germany            0.80940   38744.37
Italy              0.60665   21677.44
Japan              1.27061   46023.67
United Kingdom     0.64511   29500.39
United States      3.18523  173480.75

In [ ]:
crise = pd.Series([ -1_000_000, -0.3], index=['GDP', 'HDI'])

In [ ]:
df[['GDP', 'HDI']] +crise

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

In [ ]:
#adicionando nova coluna
language = pd.Series(
    ['French', 'German', 'Italian', 'Japanese'],
    index=['France', 'German', 'Italy', 'Japan'],
    name='Language'
)
language

France      French
German      German
Italy      Italian
Japan     Japanese
Name: Language, dtype: object

In [ ]:
df['Language'] = language
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada              35.467   1785387       9984670  0.913   America       NaN
France              63.951   2833687        640679  0.888    Europe    French
Germany             80.940   3874437        357114  0.916    Europe       NaN
Italy               60.665   2167744        301336  0.873    Europe   Italian
Japan              127.061   4602367        377930  0.891      Asia  Japanese
United Kingdom      64.511   2950039        242495  0.907    Europe       NaN
United States      318.523  17348075       9525067  0.915   America       NaN

In [ ]:
#preencher o NaN
df.fillna('English', inplace=True)
df

                Population       GDP  Surface Area    HDI Continent  Language
Canada              35.467   1785387       9984670  0.913   America   English
France              63.951   2833687        640679  0.888    Europe    French
Germany             80.940   3874437        357114  0.916    Europe   English
Italy               60.665   2167744        301336  0.873    Europe   Italian
Japan              127.061   4602367        377930  0.891      Asia  Japanese
United Kingdom      64.511   2950039        242495  0.907    Europe   English
United States      318.523  17348075       9525067  0.915   America   English

In [ ]:
#adicionando valores
df = df.append(pd.Series({ 
    'Population' :3,
    'GDP':5
}, name='China'))

In [ ]:
#vc pode deletar a linha
df.drop('China', inplace=True)

In [ ]:
#criando uma coluna com duas juntas
df['GDP per capita'] = df['GDP']/df['Population']
df

**informações estatísticas**

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
#mostra as ultimas 3 linhas do arquivo
df.tail(3)

In [ ]:
pop = df['Population']

In [ ]:
pop.min(), pop.max()

(3.0, 318.523)

In [ ]:
pop.sum()

754.118

In [ ]:
#media aritmedica
pop.sum() / len(pop)

94.26475

In [ ]:
pop.mean()

94.26475

In [ ]:
pop.std()

97.29519731613539

In [ ]:
pop.median()

64.231

In [ ]:
pop.describe()

count      8.000000
mean      94.264750
std       97.295197
min        3.000000
25%       54.365500
50%       64.231000
75%       92.470250
max      318.523000
Name: Population, dtype: float64

In [ ]:
pop.quantile(.25)

54.3655

In [ ]:
pop.quantile([.2,.4,.5,.8,1])

0.2     45.5462
0.4     63.2938
0.5     64.2310
0.8    108.6126
1.0    318.5230
Name: Population, dtype: float64