<a href="https://colab.research.google.com/github/gabrielalastra/PYTHON/blob/master/analysis_panda7_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalhando com arquivos Excel e panda
os parametros mais populares :

* filepath: Path of the file to be read.

* sheet_name: Strings are used for sheet names. Integers are used in zero-indexed sheet positions. Lists of strings/integers are used to request multiple sheets. Specify None to get all sheets.

* header: Index of the row containing the names of the columns (None if none).

* index_col: Index of the column or sequence of indexes that should be used as index of rows of the data.

* names: Sequence containing the names of the columns (used together with header = None).

* skiprows: Number of rows or sequence of row indexes to ignore in the load.

* na_values: Sequence of values that, if found in the file, should be treated as NaN.

* dtype: Dictionary in which the keys will be column names and the values will be types of NumPy to which their content must be converted.

* parse_dates: Flag that indicates if Python should try to parse data with a format similar to dates as dates. You can enter a list of column names that must be joined for the parsing as a date.

* date_parser: Function to use to try to parse dates.

* nrows: Number of rows to read from the beginning of the file.

* skip_footer: Number of rows to ignore at the end of the file.

* squeeze: Flag that indicates that if the data read only contains one column the result is a Series instead of a DataFrame.

* thousands: Character to use to detect the thousands separator.





para mais info: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [1]:
import pandas as pd

In [2]:
fpath = ('/content/drive/MyDrive/ColabNotebooks/products.xlsx')

In [ ]:
pd.read_excel(fpath, header=None).head()

In [11]:
pd.read_excel(fpath, index_col=[0]).info() 
#definindo coluna do index
#tente trocar o info por describe

<class 'pandas.core.frame.DataFrame'>
Index: 1245 entries, AVphzgbJLJeJML43fA0o to AVpgibRDLJeJML43PTZX
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        1245 non-null   float64
 1   merchant_id  1245 non-null   int64
 2   brand        1245 non-null   object
 3   name         1245 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 48.6+ KB

In [18]:
#como no arquivo excel tem varias planilhas
#sao elas Products, Descriptions, Merchants
#para tentar outra, troque o index por =[0]
#podemos separar a que vamos usar usando o parametro sheet_name
produtos = pd.read_excel(fpath,
                         sheet_name='Products',
                         index_col='product_id')
produtos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1245 entries, AVphzgbJLJeJML43fA0o to AVpgibRDLJeJML43PTZX
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        1245 non-null   float64
 1   merchant_id  1245 non-null   int64
 2   brand        1245 non-null   object
 3   name         1245 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 48.6+ KB

In [19]:
#abrindo excel com outro paramentro
excel_files = pd.ExcelFile(fpath)

In [20]:
excel_files.sheet_names

['Products', 'Descriptions', 'Merchants']

In [ ]:
produtos2 = excel_files.parse('Products', index_col=[0], header=0) #separa uma das tabelas
produtos2.head()

In [41]:
merch2 = excel_files.parse('Merchants', index_col=[0])
merch2.head()

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com

In [28]:
produtos2.dtypes

price          float64
merchant_id      int64
brand           object
name            object
dtype: object

In [37]:
#para salvar
produtos2.to_excel('teste.xlsx',
                   sheet_name='Produtos'
                   #,startrow=1, #espa√ßamento
                   #startcol=2
                   )

In [38]:
pd.read_excel('teste.xlsx').head()

             product_id  ...                                               name
0  AVphzgbJLJeJML43fA0o  ...  Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1  AVpgMuGwLJeJML43KY_c  ...  Boytone - 2500W 2.1-Ch. Home Theater System - ...
2  AVpe9FXeLJeJML43zHrq  ...           DENAQ - AC Adapter for TOSHIBA SATELLITE
3  AVpfVJXu1cnluZ0-iwTT  ...  DreamWave - Tremor Portable Bluetooth Speaker ...
4  AVphUeKeilAPnD_x3-Be  ...  NS-SP1800BL 5.1-Channel Home Theater System (B...

[5 rows x 5 columns]

In [43]:
#para salvar varias listas
with pd.ExcelWriter('teste.xlsx') as writer:
  produtos2.to_excel(writer, sheet_name='Produtos')
  merch2.to_excel(writer, sheet_name='Merchan')